<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.mvc.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <display-name>ServletMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.mvc.bean.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterBean</display-name>
    <servlet-name>RegisterBean</servlet-name>
    <servlet-class>com.mvc.dao.RegisterBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterBean</servlet-name>
    <url-pattern>/RegisterBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDao</display-name>
    <servlet-name>RegisterDao</servlet-name>
    <servlet-class>com.mvc.dao.RegisterDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDao</servlet-name>
    <url-pattern>/RegisterDao</url-pattern>
  </servlet-mapping>
</web-app>